@media (max-width: 600px) {
  .reviews-stars-left .shiny-star {
    margin-left: 0 !important;
  
  }
  .reviews-stars-right .shiny-star {
    margin-right: 0 !important;
   
  }
}
@media (min-width: 601px) {
  .reviews-stars-left {
    gap: 2.2rem !important;
  }
  .reviews-stars-right {
    gap: 2.2rem !important;
  }
}

@media (max-width: 600px) {
  /* Force equal margin on both sides for mobile, override any inline or conflicting styles */
  .reviews-stars-left {
    top: 40px !important;
    left: 1px !important;
    height: 80vh !important;
    gap: 4rem !important;
  }
}

@media (max-width: 600px) {
  /* Force equal margin on both sides for mobile, override any inline or conflicting styles */
  .reviews-stars-right {
    top: 40px !important;
    right: 1px !important;
    height: 80vh !important;
    gap: 4rem !important;
  }
}
@media (max-width: 600px) {
  #reviews-section h2,
  #reviews-section h3,
  #reviews-section p {
    font-size: 0.9em !important;
  }
}


@media (max-width: 600px) {
  .shiny-star {
    font-size: 1.1rem !important;
  }
}
@media (max-width: 600px) {
  #reviews-section {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 601px) {
  #reviews-section {
    padding-left: 6em;
    padding-right: 6rem;
  }
}
@media (min-width: 600px) {
  .homepage-hero-section {
    height: 100vh;
    background-image: url('/promo_new.jpg');
    background-size: cover;
    background-position: center top -20px;
    background-repeat: no-repeat;
  }
}
@media (max-width: 600px) {
  .homepage-hero-section {
    height: 100vh;
    background-image: url('/promo_new.jpg');
    background-size: cover;
    background-position: 46% -10px;
    background-repeat: no-repeat;
  }
}
@media (max-width: 600px) {
  .homepage-hero-genres {


    width: 100% !important;
 
    gap: 0.2em !important;
    z-index: 20 !important;
     padding-top:3em !important;
  }
  .homepage-hero-tag {
  
    margin-right: 0.3em !important;
    margin-bottom: 0.2em !important;
    margin-top:1em !important;
  
  }
}





@media (min-width: 600px) and (max-width: 1000px) {
  .homepage-hero-title { font-size: 1.8rem !important; }
  .homepage-hero-sub { font-size: 1.3rem !important; }
  .homepage-hero-tag { font-size: 1.5rem !important; }
  .homepage-hero-h1 { font-size: 7vw !important; }
}
@media (min-width: 300px) and (max-width: 600px) {
  .homepage-hero-title { font-size: 1.5rem !important; }
  .homepage-hero-sub { font-size: 1rem !important; }
  .homepage-hero-tag { font-size: 1.1rem !important; }
  .homepage-hero-h1 { font-size: 7vw !important; }
}
@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
